//Fonts
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
//Component stylesheets
@import 'gameboard';
@import 'game-view';
@import 'mode-select';
@import 'overlay';
@import 'player-select';
@import 'scoreboard';
@import 'turn-indicators';

body {
    font-family: 'Indie Flower', cursive;
    display: flex;
    align-items: center;
    justify-content: center;
}
//Utility classes
.hidden {
    opacity: 0;
    display: none;
}
